{% extends 'my_site/base.html' %}
{% load static %}

{% block title %}S-Class | Mercedes-Benz{% endblock %}

{% block content %}
<section class="hero-section">
    <img src="{% static 'images/business-class.jpg' %}" alt="Дилерский центр в Киеве">
</section>

<section class="models-section">
    <h2>Наші моделі</h2>
    <div class="models-wrapper">
        <div class="model-card">
            <img src="{% static 'images/S_350_d_4MATIC.jpg' %}" alt="S 350 d 4MATIC">
            <h3>Regal Voyage</h3>
            <a href="{% url 'order' %}" class="details-link">Заказати</a>
        </div>
        <div class="model-card">
            <img src="{% static 'images/S_450_d_4MATIC.jpg' %}" alt="S 450 d 4MATIC">
            <h3>Prestige Line</h3>
            <a href="{% url 'order' %}" class="details-link">Заказати</a>
        </div>
        <div class="model-card">
            <img src="{% static 'images/S_500_4MATIC.jpg' %}" alt="S 500 4MATIC">
            <h3>Elite Sphere</h3>
            <a href="{% url 'order' %}" class="details-link">Заказати</a>
        </div>
    </div>
</section>

<section class="intro-section3">
    <div class="content2">
        <h2>Якість інтер’єру, що вражає з першого погляду.</h2>
        <p>Салон преміум класу відрізняється розкішшю та увагою до деталей. Кожен елемент інтер'єру виготовлений з високоякісних матеріалів, таких як натуральна шкіра, дерево або алюміній, що створює атмосферу елегантності та стилю. У салоні часто використовуються інноваційні технології, зокрема мультимедійні системи, системи комфортного клімат-контролю та шумоізоляції, що забезпечує максимальний комфорт під час поїздки. Просторість салону дозволяє легко розмістити пасажирів, що робить автомобіль ідеальним для ділових зустрічей або подорожей на великі відстані. Важливою характеристикою є також інтуїтивно зрозуміле управління всіма функціями, що робить водіння приємним і зручним. У преміум класі інтер'єр створює неповторну атмосферу, де кожен елемент підкреслює високу якість та статус автомобіля.</p>
    </div>
    <div class="photo">
        <img src="{% static 'images/DALL·E  .jpg' %}" alt="Фото">
    </div>
</section>

<section class="intro-section3">
    <div class="content2">
        <h2>Чому Бізнесмени вибирають машини преміум класу.</h2>
        <p>Бізнесмени вибирають машини преміум класу, тому що вони забезпечують високу надійність та комфорт, що важливо для постійних поїздок та ділових зустрічей. Такі автомобілі відображають статус і успіх власника, що допомагає в установленні ділових контактів і підвищенні іміджу компанії. Крім того, преміум машини оснащені передовими технологіями безпеки та розваг, що дозволяє водієві та пасажирам залишатися у комфорті та безпеці під час подорожей. Для бізнесменів також важлива висока ліквідність таких автомобілів, що робить їх хорошою інвестицією в особистий або корпоративний автопарк.</p>
    </div>
    <div class="photo">
        <img src="{% static 'images/business-man.jpg' %}" alt="Фото">
    </div>
</section>

<section class="features-section">
    <h2>Особливості оснащення нових бізнес класів.</h2>
    <div class="features-wrapper">
        <div class="feature-card">
            <img src="{% static 'images/salon-business2.jpg' %}" alt="Комфорт преміум-рівня">
            <h3>Комфорт преміум-рівня</h3>
            <p>Автомобілі бізнес-класу оснащуються ергономічними сидіннями з якісним оздобленням (шкіра, алькантара), які можуть бути обладнані функціями підігріву, вентиляції та масажу.
                    Більше простору для ніг і зручні крісла, що регулюються, забезпечують комфорт навіть у довгих поїздках.</p>
        </div>

        <div class="feature-card">
            <img src="{% static 'images/teh.jpg' %}" alt="Передові технології">
            <h3>Передові технології</h3>
            <p>Мультимедійні системи останнього покоління, підтримка голосового керування, великі сенсорні дисплеї та преміальна акустика (наприклад, Bang & Olufsen, Harman Kardon) створюють виняткову зручність для водія та пасажирів.
                Часто передбачені функції бездротової зарядки та підключення смартфона через Apple CarPlay або Android Auto.</p>
        </div>

        <div class="feature-card">
            <img src="{% static 'images/design111.jpg' %}" alt="Дизайн та матеріали">
            <h3>"Дизайн та матеріали</h3>
            <p>Використовуються лише преміальні матеріали оздоблення – натуральне дерево, метал, високоякісна шкіра. Кожна деталь інтер'єру розроблена для створення атмосфери розкоші.</p>
        </div>

        <div class="feature-card">
            <img src="{% static 'images/insulation .jpg' %}" alt="Покращена шумоізоляція">
            <h3>Покращена шумоізоляція</h3>
            <p>Завдяки використанню якісних матеріалів та продуманої конструкції кузова, в салоні бізнес-класу мінімізуються шуми від дороги та двигуна, що робить поїздку максимально тихою та розслаблюючою.</p>
        </div>

        <div class="feature-card">
            <img src="{% static 'images/climate.jpg' %}" alt="Клімат-контроль">
            <h3>Клімат-контроль</h3>
            <p>"Системи клімат-контролю поділяються на кілька зон (дво-, три- або чотиризонний), що дозволяє кожному пасажиру вибрати комфортну температуру.</p>
        </div>

        <div class="feature-card">
            <img src="{% static 'images/salon-back.jpg' %}" alt="Зручності для пасажирів">
            <h3>Зручності для пасажирів</h3>
            <p>Для задніх пасажирів часто передбачені сидіння, що розкладаються, висувні столики, окремі екрани мультимедіа і додаткові розетки/USB-порти.</p>
        </div>
    </div>
</section>
{% endblock %}
